<html lang="en">
<%- include('./partials/header.ejs')  %>
<%- include('./partials/drsNav.ejs')  %>


<!-- ======= Contact us Section ======= -->
<br><br>
<h2 style="text-align:center"> DONT HESITATE TO CONTACT WITH US!</h2>
<br><br>

<section id="contactus" >
    <div class="contact">


      <div class="row" data-aos="fade-up">
        <div class="col-lg-6" >
          <div class="info-box mb-4">
            <img src="map-marker.svg" alt="address icon">
            <h3>Our Address</h3>
            <p>168 King Abdullah street, Amman, Jordan</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" style=" float: right; width: 50%;">
          <div class="info-box  mb-4">
            <img src="email.svg" alt="email icon">
            <h3>Email Us</h3>
            <p>contact@iforce.com</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" style=" float:left;width: 50%;">
          <div class="info-box  mb-4">
            <img src="phone.svg" alt="phone icon">
            <h3>Call Us</h3>
            <p>+962799744704</p>
          </div>
        </div>
      </div>


        <div class="col-lg-6 ">
          <iframe class="mb-4 mb-lg-0" src="https://maps.google.com/maps?q=168%2C%20king%20abdullah%202%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
        </div>

    </div>
  </section>
<!-- End Contact Section -->


  

<%- include('./partials/footer.ejs')  %>
</body>
</html>
