<html lang="en">

<%- include('./partials/header.ejs')  %>
<%- include('./partials/welcomeNav.ejs')  %>

<body>
    <br><br><br>

    <div class="create-blog content">
        <form action="/login" method="POST"> 
          <h2>Login </h2>
          <p>Please fill in this form to login.</p>
          <label for="userid">User ID:</label>
          <input type="text" placeholder="Enter your ID" id="userid" name="userid" required>
  
          <label for="userpassword">Password:</label>
          <input type="password" placeholder="Enter password" id="userpassword" name="userpassword" required>

          <label for="type">Type:</label>
          <select name="type" id="type" style="width: 400px; height: 35px; font-size: 15px; margin-top: 10px;">
            <option>Select</option>
            <option value="doctor">Doctor</option>
            <option value="student">Student</option>
          </select>
  
          <button type="submit"> Login</button>
  
        </form>
      </div>  
    
    
<%- include('./partials/footer.ejs')  %>
</body>
</html>